.container {
      text-align: justify;
      font-family: 'Lato', sans-serif;
    }

    .container p {
      font-family: 'Noto Serif', serif;
    }

    h1 {
         position: absolute;
         top: 5px;
         left: 20px;
         width: 100%;
      }

    h2 {
      position: absolute;
      top: 65px;
      left: 20px;
      width: 100%
    }

    h1 span, h2 span {
         color: black;
         font: bold 33px/55px Helvetica, Sans-Serif;
         letter-spacing: -1px;
         background: rgb(255, 255, 240); /* fallback color */
         background: rgba(255, 255, 240, 0.7);
         padding: 10px;
    }

    body {
        height: 100%;
        background-image: url("BETTERcafescene.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #appear {
      margin-top: 25px;
      font-size: 21px;
      animation: fadein 3s;
      -moz-animation: fadein 3s; /* Firefox */
      -webkit-animation: fadein 3s; /* Safari and Chrome */
      -o-animation: fadein 3s; /* Opera */
  }

      #desc {
      position: absolute;
      top: 140px;
      left: 60px;
      font-size: 20px;
      text-align: center;
      color: #000000;
    }
      @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
      @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
      @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
      @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }

      #sam {
        position: absolute;
        left: 170px;
        top: 250px;

      }

      #cafetable {
        position: absolute;
        right: 200px;
        top: 450px;
      }

      #cafetable1 {
        position: absolute;
        right: 470px;
        top: 450px;
}

      #cafeman {
        position: absolute;
        right: 80px;
        top: 210px;
        height: 300px;
        width: 200px;
    }

      .talkbubble {
        position: absolute;
        width: 300px;
        height: 120px;
        left: 400px;
        top: 230px;

        padding: 10px;
        border-radius: 5px;
        border: solid #F7DC6F;
        background: #F7DC6F;
      }

      .talkbubble:before {
        content:"";
        position: absolute;
        right: 100%;
        top: 25px;
        width: 0;
        height: 0;

        border-top: 13px solid transparent;
        border-right: 26px solid #F7DC6F;
        border-bottom: 13px solid transparent;
      }

/*         body{
          background-color:#96DCF3;
        }
        h2{
          color: #132062;
        }
        h4{
          color: #132062;
        }
        p{
          color: #132062;
        }
        .game-bg {
          position: relative;
          top: 0;
          left: 0px;
        }
        .tower {
          position: absolute;
          top: 50px;
          left: 249px;
        }
        .bird {
          position: absolute;
          top: 30px;
          left: 90px;
        }
        .sun {
          position: absolute;
          top: -10px;
          right: 250px;
        }
        .squirrel {
          position: absolute;
          top:510px;
          right:280px;
        }
        .dog {
          position: absolute;
          top:475px;
          left:170px;
        }
        .sam {
          position:absolute;
          top: 450px;
          left: 500px;
          filter:contrast(130%);
        }
        .opa:hover {
          opacity: .9;
        }
        button {
              background-color: Transparent;
              background-repeat:no-repeat;
              border: none;
              cursor:pointer;
              overflow: hidden;
              outline: none;
            }
 */

/* FLASH CARD STYLING */

     #flash{
      position: absolute;
      visibility : hidden;
      display: block;
      margin: auto;
      width: 28%;
      top: 180px;
      left: 500px;
}

      .containers .button-container{
        text-align: center;
        /*   margin-top: 10px;   */
      }

      .containers .button-container button{
        font-size: 15px;
      }

      .containers .button-container i{
        font-size: 25px;
      }

      .button-container button {
        padding: 10px 15px;
        font-weight: bold;
        background-color: transparent;
        border-radius: 5px;
        color: black;
      }

      .button-container {
        display: block;
        background: #dbdbdb;
      }

      .containers button:hover {
      /* cursor: pointer; */
      }

      .containers button:focus {
        outline:0;
      }

      .containers button.button-active {
      /* 	background-color: gray; */
      /* 	color: #374D57; */
      }

      .flag{
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 51%;
        border: 0;
        width: 3em;
        height: 3em;
        font-size: .5em;
        color: white;
        background-color:#337ab7;
        }

      .audio {

}
      .containers .flip-container {
        margin: 0 auto;
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -ms-perspective: 1000;
        perspective: 1000;
        -ms-transform: perspective(1000px);
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
      }

      /* flip the pane  */
      .containers .flip-container.flipped .flipper, .container .flip-container.flipped .flipper {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }

      .containers .flip-container, .front, .back {
        width: 400px;
        height: 250px;
      /* 	border-radius: 24px; */
        box-sizing: border-box;
      }

      @media only screen and (max-width: 768px) {
        .flip-container {
      /* 		margin: 10vh auto; */
        }

        .flip-container, .front, .back {
          width: 150vw;
          height: 80vh;
        }
      }

      .front, .back {
        text-align: center;
        font-family: 'Arvo';
        font-size: 2.4em;
        line-height: 1em;
        padding-top: calc(50% - 3em);
        color: #ffffff;
      /* 	border: 1px solid #95A39D; */
      }

      /* flip speed goes here */
      .flipper {
        -webkit-transition: 0.2s;
        -webkit-transform-style: preserve-3d;
        -ms-transition: 0.2s;
        -moz-transition: 0.2s;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transition: 0.2s;
        transform-style: preserve-3d;
        position: relative;
      }

      /* hide back of pane during swap */
      .front, .back {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: 0.3s;
        -webkit-transform-style: preserve-3d;
        -webkit-transform: rotateY(0deg);
        -moz-transition: 0.3s;
        -moz-transform-style: preserve-3d;
        -moz-transform: rotateY(0deg);
        -o-transition: 0.3s;
        -o-transform-style: preserve-3d;
        -o-transform: rotateY(0deg);
        -ms-transition: 0.3s;
        -ms-transform-style: preserve-3d;
        -ms-transform: rotateY(0deg);
        transition: 0.3s;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 10px 10px 16px -1px rgba(163,163,163,0.4);
      }

      /* front pane, placed above back */
      .front {
      /* 	z-index: 2; */
        /* for firefox 31 */
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        background-color: #337ab7;
      }

      /* back, initially hidden pane */
      .back {
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        background-color: #2BBE83;
      }

      .containers .refresh {
        border: 0;
      }

      .containers .refresh:hover {
        border: 0;
        background-color: transparent;
      }
